<!doctype html>
<html lang="en">
  <head>
    <title>Bootstrap demo</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    <div class="container">
      <div class="row">
      <h1>Welcome to my website</h1>
      <p>This is some sample text to demonstrate the use of Bootstrap in a web page.</p>
      <div class="col-8">
      <ul class="list-group">
        {% for user in users %}
        <li class="list-group-item shadow-lg p-3 mb-5 bg-body-tertiary rounded" >{{user['name']}}</li>
        {% endfor %}
      </ul>
      </div>
      <div class="col-4">Some image or text here</div>
      </div>
    </div>
  
  </body>
</html>